@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    background-color: aqua;
    text-align: center;
    font-weight: 900;
    font-size: larger;
    font-style: italic;
}
.titulo01{
    color:black;
    font-family: 'Roboto', sans-serif;
    background-color:cyan;
    text-align:center;
    text-decoration: none;
    font-weight: 400;
    font-style: oblique;
}  
.titulo02{
    color: black;
    font-family: 'Roboto', sans-serif;
    background-color:aqua;
    text-align:center;
    text-decoration:rgb(153, 255, 0);
    text-transform: none;
    font-size: larger;
    font-weight: 400;
    
}